* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  width: 100%;
}
body .header-contenedor {
  max-width: 100%;
  margin: auto;
  display: flow-root;
  background-color: black;
}
body .header-contenedor .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  body .header-contenedor .logo {
    justify-content: center;
  }
}
body .header-contenedor .logo h1 {
  display: flex;
  position: relative;
  top: 8px;
  margin: 0 30px 0 30px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
body .header-contenedor .logo .redes-sociales {
  color: white;
  font-size: 15px;
  margin: 0 80px 0 80px;
}
@media screen and (max-width: 800px) {
  body .header-contenedor .logo .redes-sociales {
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
  }
}
body .header-contenedor .menu nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
body .header-contenedor .menu nav ul {
  padding: 0em;
  justify-content: center;
  z-index: 1;
}
body .header-contenedor .menu nav ul li {
  float: left;
  list-style: none;
  position: relative;
}
@media screen and (max-width: 800px) {
  body .header-contenedor .menu nav ul li {
    float: none;
  }
}
body .header-contenedor .menu nav ul li:hover ul {
  display: block;
}
body .header-contenedor .menu nav ul li a {
  display: block;
  padding: 0 2rem;
  line-height: 5rem;
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 1px black;
}
body .header-contenedor .menu nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  border: 1px outset linear-gradient(70deg, black, white);
  border-radius: 10px;
}
body .header-contenedor .menu nav ul li ul li {
  width: 100%;
}
body .header-contenedor .menu nav ul li ul li a:hover {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 10px;
}

/*Portada*/
.container-cover {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: linear-gradient(180deg, rgba(46, 85, 214, 0.774), rgba(13, 14, 70, 0.808)), url(/assets/img/img/covernueva.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-info-cover {
  max-width: 800px;
  height: 100px;
  margin: auto;
  color: #f4f6ff;
  display: flex;
  background-position: center;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
}

.container-info-cover p {
  color: wheat;
  margin-top: 15px;
  font-size: 17px;
  align-content: center;
}

.ping {
  border: 1px solid #dddddd;
  box-sizing: inherit;
  color: #000000;
  padding: 47px;
  margin-top: 55px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 0;
}
.ping .dayli {
  padding: 32px 64px;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
  box-sizing: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1, 5;
}
.ping .news-container {
  display: flex;
  flex-wrap: wrap;
}
.ping .news-container .newspaper {
  width: 33%;
  padding: 15px;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
  box-sizing: inherit;
  color: #000000;
  font-family: fantasy;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  .ping .news-container .newspaper {
    width: 100%;
  }
}

/*Contenedor-contenido del articulo y secciones*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  margin-top: 45px;
  margin-right: 15px;
  margin-bottom: 45px;
  margin-left: 15px;
  font-family: fantasy;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card .container {
  width: 47%;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 45px;
  margin-left: 15px;
}
.card .container h4 {
  color: black;
}
@media screen and (max-width: 800px) {
  .card .container {
    width: 100%;
  }
}
.card img {
  width: 47%;
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 800px) {
  .card img {
    width: 100%;
    max-width: 100%;
  }
}

/* pie de pagina */
.page-wrap {
  min-height: 100%;
  margin-bottom: 0;
}
.page-wrap .site-footer {
  background: black;
}
.page-wrap .site-footer h5 {
  display: flex;
  position: relative;
  margin: 0 10px 0 10px;
  color: white;
  padding: 20px;
  float: left;
}
.page-wrap .site-footer nav {
  display: flex;
  list-style: none;
  text-decoration: underline white;
  justify-content: flex-end;
  position: relative;
  margin: 0;
  padding: 15px;
}
.page-wrap .site-footer nav li {
  display: flex;
  position: relative;
  margin: 0 25px 0 25px;
  margin-bottom: 35px;
}
.page-wrap .site-footer nav li a {
  display: flex;
  position: relative;
  margin: 0 10px 0 10px;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
