body{
    background-color: rgb(116, 165, 214);
    margin: 0;
}
a{
    text-decoration: none;
}

#navtag{

    background-color: rgb(96, 134, 170);
    height: 100px;
    width: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav{
    margin: 30px auto;
    
    box-shadow: 0px 3px 20px;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    text-align: center;
}

nav ul li{
    display: inline-block;
    background-color: mediumseagreen;

}
nav a{
    display:block;
    padding:0 20px;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
}
nav a:hover{
    background-color: #000000;
}
/* desplegable escondido*/
nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; /* la altura del menu principal */
}
    
/* display hacia abajo*/
nav ul li:hover > ul {
    display:inherit;
}
    
/* primer menu desplegable */
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* segundo menu */
nav ul ul ul li {
    position: relative;
    top:-60px; 
    left:170px;
}

    
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: -7px 0 0px 7px;
    vertical-align: middle;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



Resources
img {
    height: 150px;
    width: 150px;
    margin: 15px;
    display: flex;
}

