$primary-color: #035aa6;
$text-color: black;

@mixin margenes($marginTop, $marginRight, $marginBottom, $marginLeft){
    margin-top: $marginTop;
    margin-right: $marginRight;
    margin-bottom: $marginBottom;
    margin-left: $marginLeft;
}

@import "_header.scss";
@import "_portada.scss";
@import "_cards.scss";
@import "_footer";