$primary-color: #035aa6;
$text-color: black;

nav{
    height: 100%;
    width: 100%;
    background-color:$primary-color ;
    }
ul{
    padding: 0;
    
    display: flex;
    justify-content: center;
} 
li{
    float: left;
    list-style: none;
    position: relative;
}   


